:root {
    --dark-purple: rgb(0, 12, 9);
    --lime-green: rgb(5, 247, 69);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: var(--dark-purple);
    color: var(--lime-green);
}

/* header styling */

header {
    background: black;
    display: flex;
    padding: 20px 35px;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
}

header nav {
    display: flex;
    align-items: center;
}

header a {
    text-decoration: none;
    color: var(--lime-green);
}

header ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header ul li a {
    margin: 10px 15px;
    font-size: 1.5vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header h1 {
    font-size: 55px;
    color: lightcyan;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

/* Jumbotron Styling */

.jumbotron {
    background-image: url("../Images/jumbotron.jpg");
    background-size: cover;
    background-position: fixed;
    display: flex;
    justify-content: center;
    padding: 100px;
    position: relative;
}

.jumbotron div {
    position: absolute;
    right: 20px;
    bottom: 30px;
}

/* body styling */

h2 {
    font-size: 45px;
}

/* about me styling */

.about-me{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    border-bottom: 3px solid var(--lime-green);
}

.about-me h2 {
    text-align: right;
}

.about-me div {
    margin: 50px 50px;
    display: flex;
    flex-wrap: wrap;
    vertical-align: middle;
    align-items: center;
    justify-content: space-evenly;
}

.about {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.about-me img {
    max-width: 200px;
    max-height: 200px;
}

.section-title {
    margin: 50px 50px;
    padding: 50px 50px;
    border-right: 2px solid var(--lime-green);
    text-align: right;
}

.section-title h2 {
    width: 200px;
}

/* Projects Styling */

.my-projects {
    display: flex;
    flex-wrap: wrap;
    flex: 2 0 300px;
    border-bottom: 3px solid var(--lime-green);
}

.my-projects div {
    margin: 50px 50px;
    display: flex;
    flex-wrap: wrap-reverse;
    vertical-align: middle;
    align-items: center;
    justify-content: space-evenly;
}

.projects {
    display: flex;
    flex-wrap: wrap-reverse;
    flex: 2 0 300px;
}

.project {
    border: 1px solid var(--lime-green);
}

.project-name {
    border: 0.5px solid var(--lime-green);
    background-color: var(--dark-purple);
    margin-left: 0;
    padding-left: 0;
    float: left;
    text-align: left;
    justify-content: left;
}

#run-buddy {
    background-image: url("../Images/runbuddy.png");
    background-position: stretch;
}

/* Contact Me styling */

.contact-me {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    border-bottom: 3px solid var(--lime-green);
}

.contact-me div {
    margin: 50px 50px;
    display: flex;
    flex-wrap: wrap;
    vertical-align: middle;
    align-items: center;
    justify-content: space-evenly;
}

.contact-info div {
    display: flex;
    justify-content: space-evenly;
}
